* {
  overflow-x: hidden;
}

.benefits-img {
  background-image: url(./assets/benefitsimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
}

.benefits-content {
  background-color: rgba(252, 251, 251, 0.6);
}
